
.form {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    font-family:sans-serif;
}
.textAreaMessage {
    width: 50%;
    max-width: 500px;
    height: 100px;
    margin-bottom: 20px;
    padding: 20px;
    resize: none;
    border: none;
    box-shadow:inset 0 0 20px black;
    border-radius: 5px;
}
.btn {
    padding: 10px;
    font-size: 20px;
    border: none;
    box-shadow: 0 0 10px black;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
    margin-bottom: 10px;
}
.btn:hover {
    background-color: black;
    color:white;
}